/* #header, #hero, #gallery, #footer genişlikleri 750px olmalı */
#header {
    width: 750px;    
}
#hero {
    width: 750px;
}
#gallery {
    width: 750px;
}
#footer {
    width: 750px;
}

/* #menu bir <nav> olmalı */
/* #menu içindeki linklerin arka plan rengi: #777 */
/* #menu linklerine hover yapıldığında arka plan rengi: #000 */
/* #menu linklerinin padding değeri: 20px */

/* #footer butonu metni 'Başa dön' olmalı */